<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package 
			uri = "http://www.edu.ar/unq/tvd/nclgenerator/NCLGenerator"
			class = "ar.edu.unq.tvd.nclgenerator.nCLGenerator.NCLGeneratorPackage"
			genModel = "model/generated/NCLGenerator.genmodel" />
	</extension>
</plugin>
